<nav class="{% if page.title == "Home" %}nav-home{% elsif page.tag == "paper" %}nav-paper{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.cv == true %}
            {% if page.title != "CV" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/cv">CV</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.papers == true %}
            {% if page.title != "Papers" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/papers">Papers</a>
                </li>
            {% endif %}
        {% endif %}        

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}
       

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.syllabuses == true %}
            {% if page.title != "Syllabus" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/syllabus">Syllabuses</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.writing == true %}
            {% if page.title != "Writing" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/writing">Writing</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.calendar == true %}
            {% if page.title != "Calendar" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/calendar">Calendar</a>
                </li>
            {% endif %}
        {% endif %}   

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
