.cv
    > h1
        margin-bottom: 0px
        text-align: center
    
    > .cv-info, .cv-address, .cv-orcid
        margin: 6px
        text-align: center
    
    > .cv-orcid
        font-size: 75%
        padding-bottom: 12px
        
    > ul
        list-style-type: none
        margin-top: 3px
        margin-left: 0
        text-indent: -45px
        padding-left: 45px
        font-size: 95%
    
        > li
            margin-bottom: 6px
            
            > a
                color: #666
                text-decoration: none
                border-bottom: 1px #ddd dashed
            
            > a.cv-link
                font-size: 85%
    
    > h3, h4
        margin-top: 36px
        margin-bottom: 0px
    
    > h3
        margin-top: 36px
        
    > h4
        margin-top: 12px
        font-style: italic
    

    .cv-download
        font-size: 75%
        margin-top: 35px
        text-align: right
        
        a
            color: #000

    